In [1]:
record = ["Enter uid1234 Muzi",
          "Enter uid4567 Prodo",
          "Leave uid1234",
          "Enter uid1234 Prodo",
          "Change uid4567 Ryan"]

In [16]:
command = []
uid_name = {}

In [17]:
for item in record:
    if item.split(" ")[0] != 'Change':
        command.append(item.split(" ")[0] + " " + item.split(" ")[1])
    if item.split(" ")[0] != 'Leave':
        uid_name[item.split(" ")[1]] = item.split(" ")[2]

In [18]:
uid_name

{'uid1234': 'Prodo', 'uid4567': 'Ryan'}

In [19]:
command

['Enter uid1234', 'Enter uid4567', 'Leave uid1234', 'Enter uid1234']

In [21]:
answer = []
for com in command:
    if com.split(" ")[0] == 'Enter':
        answer.append(uid_name[com.split(" ")[1]]+"님이 들어왔습니다.")
    else:
        answer.append(uid_name[com.split(" ")[1]]+"님이 나갔습니다.")

In [22]:
answer

['Prodo님이 들어왔습니다.', 'Ryan님이 들어왔습니다.', 'Prodo님이 나갔습니다.', 'Prodo님이 들어왔습니다.']